@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 339 20% 20%;
    --primary: 308 56% 85%;
    --primary-foreground: 210 22% 22%;
    --secondary: 196 75% 88%;
    --secondary-foreground: 210 22% 22%;
    --accent: 211 86% 70%;
    --accent-foreground: 210 22% 22%;
    --destructive: 0 93% 73%;
    --destructive-foreground: 210 22% 22%;
    --muted: 210 100% 95%;
    --muted-foreground: 210 22% 22%;
    --card: 210 100% 97%;
    --card-foreground: 210 22% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 341 20% 22%;
    --border: 210 40% 80%;
    --input: 210 40% 56%;
    --ring: 210 40% 60%;
    --radius: 1rem;
    scroll-behavior: smooth;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer components {
  .font-body {
    font-family: var(--font-body);
  }

  .font-heading {
    font-family: var(--font-heading);
  }
}

/* Cloud animation starts */

.animation-cloud-parts {
  position: relative;
  display: block;
  height: 100%;
}

.animation-cloud-btn-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  border-radius: 4px;
}

.animation-cloud-part {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffffff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.animation-cloud-part:nth-child(1) {
  left: 0;
  transition-delay: 0s;
}

.animation-cloud-part:nth-child(2) {
  left: 30%;
  transition-delay: 80ms;
}

.animation-cloud-part:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.animation-cloud-part:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.animation-cloud-btn {
  position: relative;
  border: 1px solid white;
}

.animation-cloud-btn:hover .animation-cloud-part {
  transform: translate3d(0, 0%, 0) scale(1.7);
}

.animation-cloud-btn:hover {
  opacity: 1;
  border-color: white;
  transition: all 0.25s ease-in-out;

  span.cloud-button-content {
    color: #111827;
    transition: all 0.25s ease-in-out;
  }
}

span.cloud-button-content {
  z-index: 10;
  position: relative;
  color: white;
}

/* Cloud animation ends */
